@model SchoolERP.Models.Admin.StaffFinance

@{
    Layout = null;
}

<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
<title>Matrix Template - The Ultimate Multipurpose admin template</title>
<!-- Custom CSS -->
<link href="~/assets/libs/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
<link href="~/assets/extra-libs/calendar/calendar.css" rel="stylesheet" />
<link href="~/dist/css/style.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


<div class="page-wrapper">
    <!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Payroll</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Payroll
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea">
                <h3><b>Payroll</b> <span class="pull-right"></span></h3>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3>
                                    &nbsp;<b class="text-danger">Material International School</b>
                                </h3>
                                <p class="text-muted ms-1">
                                    E 104, Dharti-2, <br />
                                    Nr' Viswakarma Temple, <br />
                                    Talaja Road, <br />
                                    Bhavnagar - 364002
                                </p>
                            </address>
                        </div>
                        <div class="pull-right text-end">
                            <address>
                                <h3>To,</h3>
                                <h4 class="font-bold">@Html.DisplayFor(model => model.StaffName)</h4>

                            </address>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive mt-5" style="clear: both">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th>Description</th>
                                        <th class="text-end">Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td>Basic Salary</td>
                                        <td class="text-end">@Html.DisplayFor(model => model.BasicSalary)</td>

                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td>House Allowance</td>
                                        <td class="text-end">@Html.DisplayFor(model => model.HouseAllowance)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td>Transport Allowance</td>
                                        <td class="text-end">@Html.DisplayFor(model => model.TransportAllowance)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>Tax</td>
                                        <td class="text-end">@Html.DisplayFor(model => model.Tax)</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">4</td>
                                        <td>Vat</td>
                                        <td class="text-end">@Html.DisplayFor(model => model.Vat)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.HiddenFor(model => model.staffID)
                    <div class="col-md-12">
                        <div class="pull-right mt-4 text-end">
                            <hr />
                            <h3><b>Total Pay :</b> @Html.DisplayFor(model => model.TotalPay)</h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="text-end">
                            <button class="btn btn-danger text-white" type="submit">
                                Proceed to payment
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->

<script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="~/dist/js/jquery.ui.touch-punch-improved.js"></script>
<script src="~/dist/js/jquery-ui.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
<script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="~/assets/extra-libs/sparkline/sparkline.js"></script>
<!--Wave Effects -->
<script src="~/dist/js/waves.js"></script>
<!--Menu sidebar -->
<script src="~/dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="~/dist/js/custom.min.js"></script>
<!-- this page js -->
<script src="~/assets/libs/moment/min/moment.min.js"></script>
<script src="~/assets/libs/fullcalendar/dist/fullcalendar.min.js"></script>
<script src="~/dist/js/pages/calendar/cal-init.js"></script>